<div class="mt-4"> 
    <div class="row">
        <div class="col-lg-8    ">
            <header>
                <h1>Niên luận</h1>
                <p>Giáo viên giảng dạy</p>
                <span>100 điểm</span>
                <hr>
            </header>
            <main>
               <div class="mt-4">
                    <div class="row">
                        <div class="col-7 mt-2 mb-4 ">
                            {{!-- <div class="border border-2 rounded" > --}}
                            <div class="" >
                                <div class="box " style="margin-left: 8px; margin-right: 8px;">
                                    <div class="d-flex  justify-content-between">
                                        <p><b>Họ và tên</b>  : {{data.ten}}</p>    
                                    </div>
                                    <p><b>MSSV</b> : {{data.mssv}}</p>
                                    <p><b>Email</b> : {{data.email}} </p>
                                    <p><b>Bài làm</b> : <a href="{{data.image}}">{{data.image}}</a></p> 
                                    <p><b>Điểm số</b> : <span style="color: red;">{{data.point}} </span></p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </main>
        </div>
        <div class="col-lg-4">
            {{!-- <form method="POST" action="/authentication/student/{{data._id}}?_method=PUT" class="border border-5 rounded text-center white "  enctype = "multipart/form-data" > 
                <label for="file"><h1>Bài tập của bạn</h1></label>
                <input type="file" class="mt-3" name="file" id="file">
                <button type="submit" class="btn btn-primary my-3">Đánh dấu là đã hoàn thành</button>
            </form> --}}
            <form method="POST" action="/uploads/{{data._id}}?_method=PUT" class="border border-5 rounded text-center white "  enctype = "multipart/form-data" > 
                <label for="image"><h1>Bài tập của bạn</h1></label>
                <input type="file" class="mt-3" name="image" id="image">
                <button type="submit" class="btn btn-primary my-3">Đánh dấu là đã hoàn thành</button>
            </form>
            
        </div>
    </div>
</div>

