<div class="mt-4">
  <h3>Thông báo của tôi</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            Thông báo
            {{{sortable 'thongbao'_sort}}} 
          </th>
          <th scope="col">
            Thời gian tạo  
            {{{sortable 'createdAt'_sort}}} 
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each notes}}
        <tr>
          <th scope="row">{{ sum @index 1}}</th> 
          <td>{{this.thongbao}}</td>
          <td>{{this.createdAt}}</td> 
          <td>
            <a href="/courses/{{this._id}}/edit" type="button" class="btn btn-link text-decoration-none">Sửa</a>
            <a href="" type="button" class="btn btn-link text-decoration-none" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-courses-modal">Xóa</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>

{{!-- Confirm delete course  --}}
<div id="delete-courses-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn có muốn xóa thông báo !!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div> 

  {{!-- Delete hiden form  --}}
  <form action="" name="delete-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse =document.getElementById('btn-delete-course');


    // when  dialog confirm clicked
    $('#delete-courses-modal').on('show.bs.modal',function(event){ // khi mà cái khung id=delete-courses-modal nó hiện lên thành công thì nó nhảy vào cái hàm để thực hiện lệnh tiếp theo
      var button = $(event.relatedTarget);
      courseId = button.data('id'); // lấy ra cái id
    })

    btnDeleteCourse.onclick = function(){ 
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    }

  })
</script>